<%= form_for(@favorito) do |f| %>
  <% if @favorito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorito.errors.count, "error") %> prohibited this favorito from being saved:</h2>

      <ul>
      <% @favorito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdFavorito %><br>
    <%= f.number_field :IdFavorito %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= f.text_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :Nombres %><br>
    <%= f.text_field :Nombres %>
  </div>
  <div class="field">
    <%= f.label :Origen %><br>
    <%= f.text_field :Origen %>
  </div>
  <div class="field">
    <%= f.label :Destino %><br>
    <%= f.text_field :Destino %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
