<p id="notice"><%= notice %></p>

<p>
  <strong>Idfavorito:</strong>
  <%= @favorito.IdFavorito %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @favorito.cliente %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @favorito.Nombres %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @favorito.Origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @favorito.Destino %>
</p>

<%= link_to 'Edit', edit_favorito_path(@favorito) %> |
<%= link_to 'Back', favoritos_path %>
