<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :encrypted_password %><br>
    <%= f.text_field :encrypted_password %>
  </div>
  <div class="field">
    <%= f.label :reset_password_token %><br>
    <%= f.text_field :reset_password_token %>
  </div>
  <div class="field">
    <%= f.label :reset_password_sent_at %><br>
    <%= f.datetime_select :reset_password_sent_at %>
  </div>
  <div class="field">
    <%= f.label :remember_created_at %><br>
    <%= f.datetime_select :remember_created_at %>
  </div>
  <div class="field">
    <%= f.label :sign_in_count %><br>
    <%= f.number_field :sign_in_count %>
  </div>
  <div class="field">
    <%= f.label :current_sign_in_at %><br>
    <%= f.datetime_select :current_sign_in_at %>
  </div>
  <div class="field">
    <%= f.label :last_sign_in_at %><br>
    <%= f.datetime_select :last_sign_in_at %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
