<li><%= link_to "Home", pages_home_path  %></li>

<li><%= link_to "About us", pages_about_us_path  %></li>

<li><%= link_to "Cliente", pages_cliente_path  %></li>

<li><%= link_to "Conductor", pages_conductor_path  %></li>

<li><%= link_to "Favoritos", pages_favoritos_us_path  %></li>