<%= form_for(@estado_servicio) do |f| %>
  <% if @estado_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_servicio.errors.count, "error") %> prohibited this estado_servicio from being saved:</h2>

      <ul>
      <% @estado_servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdEstadoServicio %><br>
    <%= f.number_field :IdEstadoServicio %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_area :Descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
