<p id="notice"><%= notice %></p>

<h1>Listing Estado Servicios</h1>

<table>
  <thead>
    <tr>
      <th>Idestadoservicio</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_servicios.each do |estado_servicio| %>
      <tr>
        <td><%= estado_servicio.IdEstadoServicio %></td>
        <td><%= estado_servicio.Descripcion %></td>
        <td><%= link_to 'Show', estado_servicio %></td>
        <td><%= link_to 'Edit', edit_estado_servicio_path(estado_servicio) %></td>
        <td><%= link_to 'Destroy', estado_servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado servicio', new_estado_servicio_path %>
