<p id="notice"><%= notice %></p>

<p>
  <strong>Licencia:</strong>
  <%= @conductor.Licencia %>
</p>

<p>
  <strong>User:</strong>
  <%= @conductor.user %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @conductor.Nombres %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @conductor.ApellidoPaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @conductor.ApellidoMaterno %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @conductor.Clase %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @conductor.Categoria %>
</p>

<%= link_to 'Edit', edit_conductor_path(@conductor) %> |
<%= link_to 'Back', conductors_path %>
