<%= form_for(@vehiculo) do |f| %>
  <% if @vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
      <% @vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdVehiculo %><br>
    <%= f.number_field :IdVehiculo %>
  </div>
  <div class="field">
    <%= f.label :Placa %><br>
    <%= f.text_area :Placa %>
  </div>
  <div class="field">
    <%= f.label :FechaVenceSoat %><br>
    <%= f.date_select :FechaVenceSoat %>
  </div>
  <div class="field">
    <%= f.label :FechaVenceRevTec %><br>
    <%= f.date_select :FechaVenceRevTec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
