<p id="notice"><%= notice %></p>

<p>
  <strong>Idvehiculo:</strong>
  <%= @vehiculo.IdVehiculo %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @vehiculo.Placa %>
</p>

<p>
  <strong>Fechavencesoat:</strong>
  <%= @vehiculo.FechaVenceSoat %>
</p>

<p>
  <strong>Fechavencerevtec:</strong>
  <%= @vehiculo.FechaVenceRevTec %>
</p>

<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
