<p id="notice"><%= notice %></p>

<h1>Listing Servicios</h1>

<table>
  <thead>
    <tr>
      <th>Idservicio</th>
      <th>Cliente</th>
      <th>Conductor</th>
      <th>Vehiculo</th>
      <th>Tipopago</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Fechahora</th>
      <th>Estadoservicio</th>
      <th>Puntaje</th>
      <th>Comentario</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.IdServicio %></td>
        <td><%= servicio.cliente %></td>
        <td><%= servicio.conductor %></td>
        <td><%= servicio.vehiculo %></td>
        <td><%= servicio.tipopago %></td>
        <td><%= servicio.Origen %></td>
        <td><%= servicio.Destino %></td>
        <td><%= servicio.FechaHora %></td>
        <td><%= servicio.estadoservicio %></td>
        <td><%= servicio.Puntaje %></td>
        <td><%= servicio.Comentario %></td>
        <td><%= servicio.Monto %></td>
        <td><%= link_to 'Show', servicio %></td>
        <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
        <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicio', new_servicio_path %>
