<p id="notice"><%= notice %></p>

<p>
  <strong>Idservicio:</strong>
  <%= @servicio.IdServicio %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @servicio.cliente %>
</p>

<p>
  <strong>Conductor:</strong>
  <%= @servicio.conductor %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @servicio.vehiculo %>
</p>

<p>
  <strong>Tipopago:</strong>
  <%= @servicio.tipopago %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @servicio.Origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @servicio.Destino %>
</p>

<p>
  <strong>Fechahora:</strong>
  <%= @servicio.FechaHora %>
</p>

<p>
  <strong>Estadoservicio:</strong>
  <%= @servicio.estadoservicio %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @servicio.Puntaje %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @servicio.Comentario %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @servicio.Monto %>
</p>

<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
