<p id="notice"><%= notice %></p>

<p>
  <strong>Idparametro:</strong>
  <%= @parametro.IdParametro %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @parametro.Placa %>
</p>

<p>
  <strong>Fechavencesoat:</strong>
  <%= @parametro.FechaVenceSoat %>
</p>

<p>
  <strong>Fechavencerevtec:</strong>
  <%= @parametro.FechaVenceRevTec %>
</p>

<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>
