<li><%= link_to "Nosotros", pages_nosotros_path  %></li>
<li><%= link_to "Login", pages_login_path  %></li>
<li><%= link_to "Historial", pages_historial_path  %></li>
<li><%= link_to "Pedir taxi", pages_pedirtaxi_path  %></li>
<li><%= link_to "Favoritos", pages_favorito_path  %></li>
<li><%= link_to "Score", pages_score_path  %></li>
<li><%= link_to "Calificar", pages_calificar_path  %></li>
<li><%= link_to "Vehiculos", pages_vehiculo_path  %></li>
<li><%= link_to "Conductor", pages_conductor_path  %></li>
<li><%= link_to "Parametros", pages_parametro_path  %></li>