<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @cliente.DNI %>
</p>

<p>
  <strong>User:</strong>
  <%= @cliente.user %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.Nombres %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @cliente.ApellidoPaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @cliente.ApellidoMaterno %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.Celular %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
