<p id="notice"><%= notice %></p>

<p>
  <strong>License:</strong>
  <%= @driver.license %>
</p>

<p>
  <strong>User:</strong>
  <%= @driver.user %>
</p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @driver.class %>
</p>

<p>
  <strong>Category:</strong>
  <%= @driver.category %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
