<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @administrador.DNI %>
</p>

<p>
  <strong>User:</strong>
  <%= @administrador.user %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @administrador.Nombres %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @administrador.ApellidoPaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @administrador.ApellidoMaterno %>
</p>

<%= link_to 'Edit', edit_administrador_path(@administrador) %> |
<%= link_to 'Back', administradors_path %>
